body{
   
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

.invit{

margin: 20em 50%;
}
.cuadro{
    border-radius: 10px;
    padding: 10px 10px;
    text-align: center;
  border: 1px black solid;
  width: max-content;
}
.la-1{
    margin-bottom: 20px;
    padding: 10px;
   border: 1px rgb(182, 178, 178) ridge;
}
.la-2{
    margin-bottom: 20px; 
   
}
.btn{
  padding-left: 120px;
  padding-right: 120px;
}